<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :subject %>
    <%= f.input :content %>
    <%= f.input :status, collection: select('status') %>
    <%= f.input :priority, collection: select('priority') %>
    <%= f.input :user_id %>
    <%= f.input :assignee_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



			<div class="selecter open" tabindex="0"><select tabindex="-1" name="selecter_basic" class="selecter_2 selecter-element" data-selecter-options="{&quot;label&quot;:&quot;Jump Sites&quot;,&quot;external&quot;:&quot;true&quot;}">
				<option value="http://google.com">Google Search</option>
				<option value="http://boingboing.com">BoingBoing</option>
				<option value="http://cnn.com">CNN News</option>
			</select><span class="selecter-selected placeholder">Google Search</span><div style="display: block;" class="selecter-options"><a class="selecter-item selected" href="http://google.com">Google Search</a><a class="selecter-item" href="http://boingboing.com">BoingBoing</a><a class="selecter-item" href="http://cnn.com">CNN News</a></div></div>
		  