<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :subject, 
        as: :hidden if express_ticket %>
    
    <%= f.input :content %>
    
    <%= f.input :status, 
        collection: select('status'),
        as: :hidden if express_ticket %>
    
    <%= f.input :priority, 
        collection: select('priority'), 
        as: :hidden if express_ticket %>
    
    <%= f.input :user_id,
        as: :hidden if express_ticket%>
    
    <%= f.input :assignee_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>