<h3>Ticket <small><strong><%= j @ticket.number %></strong></small></h3>

<div class="row">
  <div class="col-md-9">
    <h4><%= @ticket.subject %></h4>
    <p><%= @ticket.content %></p>
    <%= render "comments/comments" %>
  </div>
  <div class="col-md-3 left-border">
    <p>Created by: <strong><%= @ticket.user.username %></strong></p>
    <p>Assigned to: <strong><%= @ticket.assignee.username %></strong></p>
    <p>Status: <%= labels('status', @ticket) %></p>
    <p>Priority: <%= labels('priority', @ticket) %></p>
    <p><%= link_to 'Edit Ticket', edit_ticket_path(@ticket), class: 'btn btn-default' %></p>
  </div>
</div>