<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <table class="table">
    <thead>
      <tr>
        <th>Ticket #</th>
        <th>Subject</th>
        <th>Status</th>
        <th>Priority</th>
        <th>User</th>
        <th>Assignee</th>
        <th>Last Updated</th>
        <th>Ticket age</th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td></td>
          <td><%= link_to ticket.subject, ticket %></td>
          <td>
            <%= link_to tickets_path(status: ticket.status) do %>
              <%= labels('status', ticket) %>
            <% end %>
          </td>
          <td>
            <%= link_to tickets_path(priority: ticket.priority) do %>
              <%= labels('priority', ticket) %>
            <% end %>
          </td>
          <td><%= ticket.user_id %></td>
          <td><%= ticket.assignee_id %></td>
          <td><%= time_ago_in_words(ticket.updated_at) %> ago</td>
          <td><%= time_ago_in_words(ticket.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Ticket', new_ticket_path %>


