<h2 class="pull-left">Listing Tickets</h2>

<div class="page-tools">
  <div class="btn-group pull-right">
    <%= link_to 'Create Ticket', express_tickets_path, 
        class: 'btn btn-primary', type: 'button', id: "modal_path" %>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to 'New Express Ticket', express_tickets_path %></li>
      <li><%= link_to 'New Advanced Ticket', new_ticket_path %></li>
    </ul>
  </div>
</div>

<div class="clearfix"></div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">.</div>
  <table class="table">
    <thead>
      <tr>
        <th>Ticket Number</th>
        <th>Subject</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Assigned to</th>
        <th>Last Updated</th>
        <th>Ticket age</th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= two_part_number(ticket.number) %></td>
          <td><%= link_to ticket.subject, ticket, remote: true, data: { toggle: 'modal', target: '#modal-display' } %></td>
          <td>
            <%= link_to tickets_path(status: ticket.status) do %>
              <%= labels('status', ticket) %>
            <% end %>
          </td>
          <td>
            <%= link_to tickets_path(priority: ticket.priority) do %>
              <%= labels('priority', ticket) %>
            <% end %>
          </td>
          <td><%= ticket.assignee.username %></td>
          <td><%= time_ago_in_words(ticket.updated_at) %> ago</td>
          <td><%= time_ago_in_words(ticket.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= bootstrap_modal('','') %>