<p id="notice"><%= notice %></p>

<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>

<h1>Listing Tickets</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <table class="table">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Status</th>
        <th>Priority</th>
        <th>User</th>
        <th>Assignee</th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= link_to ticket.subject, ticket %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.priority %><span class="label label-default">Default</span></td>
          <td><%= ticket.user_id %></td>
          <td><%= ticket.assignee_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
