<div class="sidenavbar">
  <div class="container">
    
    <div class="list-group">
      
      <a href="#" class="list-group-item active">
        My Tickets
      </a>
      
      <%= link_to tickets_path(user: current_user.id), 
        class: 'list-group-item' do %> 
        Tickets I Created
        <span class="badge">
          <%= current_user.tickets.count %>
        </span>
      <% end %>
      
      <%= link_to tickets_path(assignee: current_user.id, status: 'open'), 
        class: 'list-group-item' do %> 
        My Open Tickets
        <span class="badge">
          <%= @m.assigned(current_user.id).open.count %>
        </span>
      <% end %>
      
      <%= link_to tickets_path(assignee: current_user.id, status: 'closed'), 
        class: 'list-group-item' do %> 
        My Closed Tickets
        <span class="badge">
          <%= @m.assigned(current_user.id).closed.count %>
        </span>
      <% end %>
    </div>
    
    <div class="list-group">
      <a href="#" class="list-group-item active">
        All Tickets
      </a>
      
      <%= link_to tickets_path(priority: 'severe'), 
        class: 'list-group-item' do %> 
        Severe Tickets
        <span class="badge">
          <%= @m.severe.count %>
        </span>
      <% end %> 
      
      <%= link_to tickets_path(status: 'open'), 
        class: 'list-group-item' do %> 
        All Open Tickets
        <span class="badge">
          <%= @m.open.count %>
        </span>
      <% end %>      
      
      <%= link_to tickets_path(status: 'closed'), 
        class: 'list-group-item' do %> 
        All Closed Tickets
        <span class="badge">
          <%= @m.closed.count %>
        </span>
      <% end %>
      
    </div>
    
  </div>
</div>